.container-signup {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  align-items: center;
}
.content-signup {
  border: 1px solid lightgray;
  background-color: rgba(0, 0, 0, 0.6);
  width: 400px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 4em;
  padding: 1.2em;
  text-align: center;
}
.content-signup form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.content-signup h2 {
  padding-top: 1em;
  color: white;
}
@media screen and (max-width: 900px), screen and (max-height: 750px) {
  .content-signup {
    width: 250px;
    margin-top: 4em;
    margin-bottom: 2em;
  }
}
