.container-master {
  min-height: calc(90vh - var(--navbar-height));
  margin-top: var(--navbar-height);
  display: flex;
  align-items: center;
}
.box {
  border: 1px solid lightgray;
  background-color: rgba(0, 0, 0, 0.6);
  width: 450px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1.2em;
  text-align: center;
}
.box form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.button-submit {
  margin-top: 1em;
}
@media screen and (max-width: 900px), screen and (max-height: 750px) {
  .container-master {
    min-height: calc(80vh - var(--navbar-height));
  }
  .box {
    width: 250px;
    margin-top: 7em;
  }
}
