.wishlist-container {
  min-height: calc(90vh - var(--navbar-height));
  margin-top: calc(var(--navbar-height) + 2em);
}
.wishlist-content {
  display: flex;
  align-items: center;
  margin-top: 3em;
}
.wishlist-table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  min-width: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.wishlist-container h1 {
  text-align: center;
}
.wishlist-table td img {
  width: 170px;
}
.wishlist-table th,
.wishlist-table td {
  padding: 12px 15px;
  max-width: 40rem;
  text-align: center;
}
tbody {
  text-align: center;
}
